/* this defines the general styling of things to try and 
adhere to DRY principles, this has no association with index.js*/

body, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#content {
    display: grid;
    grid-template-rows: 1fr 15fr;
    grid-template-columns: 1fr 5fr 1fr;
    width: 100%;
}

