/* this defines the general styling of things to try and 
adhere to DRY principles, this has no association with index.js*/
body {
    overflow: auto;
}

body, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#content {
    background: url(../assets/photos/tropical-scene.jpg) no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
}