.menu-container {
    display: grid;
    grid-row: 1 / 4;
    grid-template-areas: "app app app"
                         "special special special"
                         "sides sides sides";
    grid-template-rows: repeat(3, 20rem);
    grid-gap: 5rem;
    margin-top: 5rem;
}

.app-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-gap: 3rem;
    grid-area: app;

}

.app-h2 {
    display: flex;
    grid-column: 1 / 4;
    justify-content: center;
}

.app-menu-items {
    background: radial-gradient(#FEC0ABAA , #1A0735EE);
    border-radius: 5%;
    border: 1px solid black;
}

.specials-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-gap: 3rem;
    grid-area: special;
}

.specials-h2 {
    grid-column: 1 / 4;
    justify-self: center;
}

.special-menu-items {
    background: radial-gradient(#FEC0ABAA , #1A0735EE);
    border-radius: 5%;
    border: 1px solid black;
}

.sides-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-gap: 3rem;
    grid-area: sides;
}

.sides-h2 {
    grid-column: 1 / 4;
    justify-self: center;
}

.side-menu-items {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    background: radial-gradient(#FEC0ABAA , #1A0735EE);
    border-radius: 5%;
    grid-gap: 3rem;
    border: 1px solid black;
}

