.menu-container {
    display: grid;
    grid-template-areas: "app app app"
                         "special special special"
                         "sides sides sides";
    grid-template-columns: repeat(3,minmax(250px,1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5rem;
    grid-row: 1 / 2;
    /* margin-top: 5rem; */
}

.app-container {
    grid-area: app;
}

.app-h2 {
    
}

.app-menu-items {

}

.specials-container {
    grid-area: special;
}

.special-menu-items {

}

.sides-container {
    grid-area: sides;
}

.side-menu-items {

}

.menu-items {
    height: 10rem;
    background: radial-gradient(#FEC0ABDD,#1A0735DD);
    border-radius: 10px;
}

