.menu-container {
    display: grid;
    grid-row: 1 / 4;
    grid-template-areas: "app app app"
                         "special special special"
                         "sides sides sides";
    grid-template-rows: repeat(3, 20rem);
    grid-gap: 5rem;
    margin-top: 5rem;
}

.app-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-area: app;
    border: 1px solid black;
}

.app-h2 {

}

.app-menu-items {

}

.specials-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-area: special;
    border: 1px solid black;
}

.special-menu-items {

}

.sides-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-area: sides;
    border: 1px solid black;
}

.side-menu-items {

}

.menu-items {
    height: 10rem;
    background: radial-gradient(#FEC0ABDD,#1A0735DD);
    /* border-radius: 10px; */
}

