/* basically the home styling for the webpage */
body, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#content {
    display: grid;
    grid-template-rows: 100px 15fr 50px;
    grid-template-columns: 1fr 5fr 1fr;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden auto; 
}

header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr repeat(3, 2fr);
    z-index: 2;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    background: linear-gradient(#1A0735EF,#FEC0ABCC);
    border-bottom: 2px solid black;
}

.header-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    font-size: larger;
}

h1 {
    /* cursor: grab; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-info-h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-selection:hover{
    background: linear-gradient(#1A0735AA, #FEC0ABAA);
    cursor: grab;
}

.scrolling-container {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    z-index: 2;
}

.background-container {
    grid-row: 1 / -1;
    grid-column: 1 / 4;
    position: sticky;
    top: 0;
    background: url(../assets/photos/tropical-scene.jpg) no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
}

.home-info-container {
    grid-row: 2 / 3;
}

p {
    margin: 0px 4px;
}